@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
:root {
  --gap: 16px 16px;
  --bg-footer: #262626;
  --btn-up: #59bd5a;
  --bg-card-active: #757575;
  --gray-line: rgba(117, 117, 117, 0.4);
  --white-line: #fff;
  --textBlack: #1d1d1d;
  --colorBlack: #1d1d1d;
  --textGray: #626262;
  --textWhite: #fff;
  --accent-color: #327430;
  --container--laptop: 978px;
  --container--tablet: 752px;
  --container--mobile: 308px;
  --breakpoint--laptop: 1124px;
  --breakpoint--tablet: 768px;
  --breakpoint--mobile: 320px;
}

/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  /*outline: none;*/
}

a:focus,
a:active {
  /* outline: none;*/
}

/* Links */
a,
a:link,
a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
}

.none {
  display: none !important;
}

.container {
  position: relative;
  max-width: 978px;
  padding: 0 8px;
  margin: 0 auto;
}

.accent {
  color: var(--accent-color);
}

.title2 {
  font-size: 22px;
  line-height: 34px;
  color: var(--textBlack);
}

.title3 {
  font-size: 16px;
  line-height: 24px;
  color: var(--textBlack);
}

.header {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 72px;
  background-color: #fff;
  -webkit-box-shadow: 0px 16px 16px -16px rgba(38, 38, 38, 0.16);
          box-shadow: 0px 16px 16px -16px rgba(38, 38, 38, 0.16);
}

.header-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.right-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 16px 0;
}

.header-logo {
  padding: 30px 0;
}

.sign-in {
  width: 78px;
  height: 40px;
  margin-right: 27px;
  padding: 14px 20px;
  line-height: 12px;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  color: var(--textBlack);
  font-weight: 500;
  font-size: 13px;
}

.shopping-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 16px;
}

@media (max-width: 769px) {
  .right-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 16px -5px;
  }
}
@media (max-width: 320px) {
  .sign-in {
    margin-right: 14px;
  }
  .shopping-cart {
    display: none;
  }
}
.main {
  margin-top: 103px;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  margin-top: 16px;
  margin-bottom: 80px;
  gap: var(--gap);
  -ms-grid-columns: minmax(100px, 368px) var(--gap) minmax(100px, 368px) var(--gap) minmax(100px, 368px);
  grid-template-columns: repeat(3, minmax(100px, 368px));
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-container > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid-container > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.grid-container > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.card__img {
  margin-bottom: 16px;
  max-width: 308px;
  height: auto;
}
.card__kitchen {
  padding-top: 4px;
  font-size: 14px;
  line-height: 21px;
  color: var(--textGray);
}
.card__delivery-time {
  margin-bottom: 20px;
  padding-top: 4px;
  font-size: 13px;
  line-height: 21px;
  color: var(--textBlack);
}

.card:hover {
  opacity: 0.5;
}

@media (max-width: 769px) {
  .grid-container {
    margin-bottom: 48px;
    -ms-grid-columns: (minmax(100px, 368px))[2];
    grid-template-columns: repeat(2, minmax(100px, 368px));
    grid-auto-rows: auto;
  }
  .card__img {
    max-width: 368px;
    height: auto;
  }
}
@media (max-width: 320px) {
  .grid-container {
    margin-bottom: -33px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }
  .card__img {
    max-width: 308px;
    height: 246px;
  }
  .card9,
.card8,
.card7,
.card6,
.card5 {
    display: none;
  }
}
.footer {
  width: 100%;
  background-color: var(--bg-footer);
  padding-top: 56px;
  color: var(--textWhite);
}
.footer a {
  color: var(--textWhite);
}

.footer-logo {
  padding-bottom: 40px;
}

.footer-nav {
  padding-top: 32px;
  padding-bottom: 51px;
  font-size: 13px;
  line-height: 15px;
  color: var(--textWhite);
}

.row-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.column-1 {
  margin-right: 97px;
}
.column-1 .dropdown {
  position: relative;
  display: inline-block;
  background-color: #3b3b3b;
  margin-bottom: 33px;
}
.column-1 .dropbtn {
  width: 227px;
  height: 40px;
  text-align: start;
  padding-left: 49px;
  border: none;
}
.column-1 .dropbtn::before {
  content: url("../../../img/footer/dropbtn-world.svg");
  position: absolute;
  display: inline-block;
  top: 12px;
  left: 16px;
}
.column-1 .dropbtn::after {
  content: url("../../../img/footer/shape-arrow.svg");
  position: absolute;
  display: inline-block;
  top: 12px;
  right: 8px;
}
.column-1 .dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  background-color: #3b3b3b;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.column-1 .dropdown-content a {
  color: var(--textWhite);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.column-1 .dropdown-content a:hover {
  background-color: #636363;
}
.column-1 .dropdown:hover .dropdown-content {
  display: block;
}
.column-1 .social p {
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 20px;
}
.column-1 .social p span {
  color: #49a144;
}
.column-1 .social-row a:nth-child(1) {
  padding-left: 2px;
  padding-right: 15px;
}
.column-1 .social-row a:nth-child(2) {
  padding-right: 11px;
}

.column-2 {
  padding-top: 8px;
  margin-right: 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 23px;
}

.column-3 {
  padding-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 23px;
}

.download {
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.download a {
  margin-right: 12px;
  margin-left: 27px;
}

.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: var(--textWhite);
}
.footer-info a:nth-child(1) {
  margin-right: 174px;
}
.footer-info a:nth-child(2) {
  margin-right: 148px;
}

@media (max-width: 769px) {
  .column-1 {
    margin-right: 80px;
  }
  .column-1 .dropbtn {
    width: 176px;
  }
  .column-1 .social p {
    margin-bottom: 17px;
  }
  .column-1 .social-row a:nth-child(2) {
    padding-right: 16px;
  }
  .column-2 {
    margin-right: 60px;
  }
  .footer-info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-info a {
    margin-bottom: 10px;
  }
  .footer-info a:nth-child(1) {
    margin-right: 106px;
  }
  .footer-info a:nth-child(2) {
    margin-right: 80px;
  }
}
@media (max-width: 320px) {
  .social-row {
    margin-bottom: 36px;
  }
  .column-2 {
    margin-bottom: 18px;
  }
  .footer-nav {
    padding-bottom: 43px;
  }
  .download {
    padding: 24px 0;
  }
  .download a:nth-child(1) {
    margin-right: 12px;
    margin-left: 31px;
  }
  .download a:nth-child(2) {
    margin-right: 16px;
    margin-left: 12px;
  }
  .footer-info a {
    margin-bottom: 24px;
    margin-right: auto;
  }
  .footer-info a:last-child {
    margin-bottom: 40px;
  }
}
.search {
  margin-top: 30px;
  margin-bottom: 56px;
  border-bottom: 1px solid rgba(98, 98, 98, 0.3);
}

.search-form {
  height: 48px;
  width: 100%;
  padding-top: 25px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.search-form::-webkit-input-placeholder {
  opacity: 0.5;
}
.search-form::-moz-placeholder {
  opacity: 0.5;
}
.search-form:-ms-input-placeholder {
  opacity: 0.5;
}
.search-form::-ms-input-placeholder {
  opacity: 0.5;
}
.search-form::placeholder {
  opacity: 0.5;
}

.create-line--white {
  border-bottom: 1px solid var(--white-line);
}
.create-line--gray {
  border-bottom: 1px solid var(--gray-line);
}

.scrollup {
  position: fixed;
  bottom: 24px;
  right: 16px;
  width: 80px;
  height: 80px;
  display: none;
  text-indent: -9999px;
  background: url("../../img/ButtonTop/btn-up.svg") no-repeat;
}

@media (max-width: 320px) {
  .scrollup {
    width: 64px;
    height: 64px;
    background: url("../../img/ButtonTop/btn-up64.svg") no-repeat;
  }
}
/*# sourceMappingURL=main.css.map */