.restaurant-bg {
  height: 364px;
  background-image: url("../../../img/restaurant/bg.jpg");
  background-size: cover;
  background-position: center center;
}
.restaurant-name {
  max-width: 389px;
  max-height: 204px;
  background-color: var(--bg-white);
}
.filter {
}
.menu {
}
