.restaurant {
  margin-top: 73px;
}
.restaurant-bg {
  position: relative;
  height: 364px;
  background: url("../../../img/restaurant/bg.jpg");
  background-size: cover;
  background-position: center center;

  .restaurant-card {
    position: absolute;
    top: 80px;
    padding: 38px 29px 38px 38px;
    max-width: 389px;
    max-height: 204px;
    background-color: var(--bg-white);

    &__name {
      margin-bottom: 54px;
    }
  }

  .restaurant-card__row {
    display: flex;
  }
  .restaurant-card__kitchen {
    min-width: 172px;
    margin-right: 50px;
  }
  .restaurant-card__delivery-time {
    width: 100px;
    height: 32px;
    border-radius: 16px;
    background-color: var(--bg-button);
    padding: 8px 16px;
    color: var(--textWhite);
  }
}
.filter {
  height: 80px;
}
.filter__row {
  padding-top: 32px;
}
.filter__list {
  display: flex;
  font-size: 16px;
  line-height: 19px;
}
.filter__link {
  color: var(--textGray);
  margin-right: 40px;
  &:hover {
    color: var(--accent-color);
  }
}
// menu start

.menu {
  margin-top: 56px;
  margin-bottom: 80px;
  color: var(--textBlack);

  .menu__title {
    margin-bottom: 32px;
  }
}
.menu__grid-container {
  display: grid;
  gap: 49px 16px;
  grid-template-columns: repeat(2, minmax(100px, 470px));
  .menu-card {
    height: 160px;
    // height: 160px;
    display: inline-flex;
    // dfsfsdfdsfdfdsfdfsfdf
    justify-content: space-between;
    border: 1px solid rgba(117, 117, 117, 0.2);
    border-radius: 2px;
    &:hover {
      background-color: rgba(117, 117, 117, 0.1);
    }
    .menu-card__item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 16px 8px 16px 16px;
      width: 300px;
    }

    .menu-card__title {
      padding-bottom: 4px;
      font-size: 16px;
      line-height: 24px;
    }

    .menu-card__description {
      margin-bottom: 10px;
      font-size: 13px;
      line-height: 21px;
      color: var(--textGray);
    }
    .menu-card__price {
      font-weight: 500;
      font-size: 15px;
      line-height: 21px;
      color: var(--textBlack);
    }
    .menu-card__img {
      & img {
        max-width: 170px;
        min-height: 158px;
      }
    }
  }
}
