.footer {
  background-color: var(--bg-footer);
  padding-top: 56px;
  padding-bottom: 40px;
  color: var(--textWhite);
  a {
    color: var(--textWhite);
  }
}

.footer-logo {
  padding-bottom: 40px;
}
.footer-nav {
  padding-top: 32px;
  padding-bottom: 48px;
}
.row-wrapper {
}
.column-1 {
}
.language-dropdown {
}
.social {
  p {
    font-size: 16px;
    line-height: 19px;
  }
  p span {
    color: #49a144;
  }
}
.social-row {
}
.column-2 {
}
.column-3 {
}
.download {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  & a {
    margin-right: 12px;
    margin-left: 27px;
  }
}
.footer-info {
  display: flex;
  // justify-content: space-between;
  padding-top: 40px;

  font-size: 11px;
  line-height: 13px;

  display: flex;
  align-items: flex-end;

  color: var(--textWhite);

  & a:nth-child(1) {
    margin-right: 174px;
  }
  & a:nth-child(2) {
    margin-right: 148px;
  }
}
