@include tablet {
  .column-1 {
    margin-right: 80px;
    .dropbtn {
      width: 176px;
    }

    .social {
      p {
        margin-bottom: 17px;
      }
    }
    .social-row {
      // margin-bottom: 15px;
      & a:nth-child(2) {
        padding-right: 16px;
      }
    }
  }
  .column-2 {
    margin-right: 60px;
  }
  .footer-info {
    & a {
      margin-bottom: 10px;
    }
    flex-wrap: wrap;
    & a:nth-child(1) {
      margin-right: 106px;
    }
    & a:nth-child(2) {
      margin-right: 80px;
    }
  }
}
@include mobile {
  .social-row {
    margin-bottom: 36px;
  }

  .column-2 {
    margin-bottom: 18px;
  }
  .footer-nav {
    padding-bottom: 43px;
  }
  .download {
    padding: 24px 0;
    & a:nth-child(1) {
      margin-right: 12px;
      margin-left: 31px;
    }
    & a:nth-child(2) {
      margin-right: 16px;
      margin-left: 12px;
    }
  }
  .footer-info {
    & a {
      margin-bottom: 24px;
      margin-right: auto;
    }
    & a:last-child {
      margin-bottom: 0px;
    }
  }
}
