.main {
  margin-top: 103px;
}
.grid-container {
  display: grid;
  margin-top: 16px;
  margin-bottom: 80px;
  gap: var(--gap);
  grid-template-columns: repeat(3, minmax(100px, 368px));
  grid-template-rows: auto;
}
.card {
  &__img {
    margin-bottom: 16px;
    max-width: 308px;
    // height: 256px;
    height: auto;
  }

  &__kitchen {
    padding-top: 4px;
    font-size: 14px;
    line-height: 21px;
    color: var(--textGray);
  }
  &__delivery-time {
    margin-bottom: 20px;
    padding-top: 4px;
    font-size: 13px;
    line-height: 21px;
    color: var(--textBlack);
  }
}
.card:hover {
  opacity: 0.5;
}
