@include tablet {
  .container {
    max-width: $container--tablet;
  }
  .grid-container {
    margin-bottom: 48px;
    grid-template-columns: repeat(2, 368px);
  }
  .card {
    &__img {
      width: 376px;
      height: 256px;
    }
  }
}
@include mobile {
}
