@include tablet {
  .grid-container {
    margin-bottom: 48px;
    grid-template-columns: repeat(2, minmax(100px, 368px));
    grid-auto-rows: auto;
  }
  .card {
    &__img {
      max-width: 368px;
      // height: 256px;
      // height: auto;
      & img {
        height: 256px;
        // height: auto;
      }
    }
  }
}
@include mobile {
  .grid-container {
    // margin-bottom: -33px;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;

    & a:nth-child(n + 5) {
      display: none;
    }
    // Скрытие элементов с пятого
  }

  .card {
    &__img {
      max-width: 308px;
      height: 246px;
    }
  }
}
