.scrollup {
  position: fixed;
  bottom: 24px;
  right: 16px;
  width: 80px;
  height: 80px;

  display: none;
  text-indent: -9999px;
  background: url("../../img/ButtonTop/btn-up.svg") no-repeat;
  transition: 0.1s all ease-in-out;
  &:hover {
    transform: scale(95%, 95%);
    opacity: 0.5;
  }
}

@include mobile {
  .scrollup {
    width: 64px;
    height: 64px;
    background: url("../../img/ButtonTop/btn-up64.svg") no-repeat;
  }
}
