// .line {
//   width: 100%;
//   border-bottom: 1px solid var(--line);
// }

.create-line {
  // width: 100%;
  &--white {
    width: 100%;
    border-bottom: 1px solid var(--white-line);
    // opacity: 0.4;
  }
  &--gray {
    width: 100%;
    border-bottom: 1px solid var(--gray-line) 0.3;
    // opacity: 0.3;
  }
}
