@mixin create-line {
  width: 100%;
  border-top: 1px solid #ffffff;
  opacity: 0.4;
}

.create-line {
  width: 100%;
  border-top: 1px solid #ffffff;
  opacity: 0.4;
}

.create-line {
  width: 100%;
  &--white {
    border-top: 1px solid #ffffff;
    opacity: 0.4;
  }
  &--gray {
    border-top: 1px solid #757575;
    opacity: 1;
    &--02 {
      opacity: 0.2;
    }
  }
}
