$bg-footer: #262626;
$btn-up: #59bd5a;

// $buttonWhite: #fff;
// $buttonBlue: #275bec;
// $bgBlue: #1e4776;
// $textBlack: #000;
// $textWhite: #fff;
// $textBlue: #7e9ec9;

// $accent-color: #f78434;
// // $accent-color-hover: #ff6a00;
// $accent-color-hover: #1e4776;
// $title2: #323232;
// $black-color: #323232;
// $black-color: #323252;

$container--laptop: 956px;
$container--tablet: 752px;
$container--mobile: 308px;

$breakpoint--laptop: 1124px;
$breakpoint--tablet: 768px;
$breakpoint--mobile: 320px;
